* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}

#root {
    width: 550px;
    height: 550px;

    margin-top: 100px;

    background: #ffffff;
}
